header {
  background-color: #243665;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

body {
  background-color: #8BD8BD;
}

h1, header p, footer p{
  color: #8BD8BD;
}

h1, h2, h3, p {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 10px;
}

footer {
  background-color: #243665;
  height: 30px;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 10px; 
}
